
 /* ***
 
 inputTextItem
 
 *** */
.input-title{
    background-color: var(--ion-color-primary-contrast);
    padding-left: 1rem !important;
    font-size: 14px;

}
  
.input-content{
    border: 1px solid var(--ion-color-medium);
    border-radius: .3rem;
    padding-left: 1rem !important;
  
    font-size: 14px;
}